{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#div">Click me</button>
<div id="div">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore dolorum illum ipsa nulla quibusdam sapiente veritatis vitae! Deleniti dolores earum enim ex mollitia nulla numquam sequi sint sit ullam.</div>
{% endblock %}
