{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        {{ form_widget(form._token) }}
        <div class="form-group">
            {{ form_row(form.nom) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
        <div class="form-group">
            {{ form_row(form.prix) }}
        </div>
        <div class="form-group">
            {{ form_row(form.stock) }}
        </div>
        <div class="form-group">
            <button class="btn btn-dark">Sauver</button>
        </div>
    </form>
{% endblock %}

{% block title %}

{% endblock %}

