{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <a href="{{ path('produit_add') }}" class="btn btn-primary">Nouveau</a>
    <table class="table">
        <thead>
        <tr>
            <th>Reference</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
