{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <label>Réference</label>
            <input class="form-control" disabled type="text" value="{{ commande.reference }}">
        </div>
        <div class="col-md-6">
            <label>Date de dernière modif. </label>
            <input class="form-control" disabled type="text" value="{{ commande.updateDate | date('d/m/Y') }}">
        </div>
        <div class="col-md-6">
            <label>Client</label>
            <input class="form-control" disabled type="text" value="{{ commande.client.label }}">
        </div>
        <div class="col-md-6">
            <label>Etat</label>
            <input class="form-control" disabled type="text" value="{{ commande.etatString }}">
        </div>
    </div>

    <div data-controller="react-commande" data-id="{{ commande.id }}"></div>
{% endblock %}

{% block title %}

{% endblock %}

