@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "toastr/toastr";
@import "variables";

body {
  min-height: 100vh; // 100% de la hauteur de l'ecran
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  box-shadow: 2px 0 10px 0 $border-color;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  //z-index: 1;
  background: white;
  .fa {
    cursor: pointer;
  }
  .title {
    font-size: 14px;
  }
}

.flex-container {
  flex: 1;
  display: flex;
  background-color: #cccccc;
  //z-index: 0;
  #main-nav {
    width: 300px;
    margin-left: -300px;
    box-shadow: 0 2px 10px 0 $border-color;
    background-color: white;
    transition: all 0.3s ease;
    &.open {
      margin-left: 0;
    }
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        > a {
          color: black;
          text-decoration: none;
          display: block;
          padding: 10px 20px;
          border-bottom: 1px solid $border-color;
          &:hover {
            color: white;
            background: $gray;
          }
        }
        &.active {
          > a {
            background: $gray;
            border-right: 10px solid $green;
            color: white;
          }
        }
      }
    }
  }
  main{
    flex: 1;
    margin: 10px;
    background-color: white;
    padding: 10px;
  }
}

footer {
  height: 50px;
  box-shadow: -2px 0 10px 0 $border-color;
  //z-index: 1;
  background: white;
}